.education{
    width: 81.5%;
    height: 100vh;
    background-image: url("../img/wall.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion
{
  width: 800px;
  margin: 50px;
  margin-top: -5px;
  
  background-color: transparent;
  box-shadow: 5px 5px 5px #888888;

  margin-top: 40px;
}

.accordion-tab .accordion-toggle
{
  display: none;
}

 label
{
  width: 800px;
  height: 50px;  
  color:rgba(0, 0, 0, 0.7);
  
  background-color: transparent;
  font-size: 14px;
  font-family: "Quicksand",Arial,sans-serif;
  line-height: 24px;
  position: relative;
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 12px 20px;
  cursor: pointer;
  border: 1px solid gray;
 
  
}


.accordion-content
{
  max-height: 0;
  transition: all;
  overflow: hidden;
  /* height: 115px; */
  

 
}

.accordion-tab > .accordion-toggle:checked ~ .accordion-content
{
  max-height: 100vh;
  padding: 20px;

}

label::after
{
    content: url("../icons/plus-lg.svg");
}


.accordion-tab > .accordion-toggle:checked ~ label::after
{
    content: url("../icons/dash-lg.svg");
    
}

.accordion-tab > .accordion-toggle:checked ~ label
{
    background: cornflowerblue;
}



.accordion-tab > .accordion-content  p
{

  padding: 15px 20px;
  line-height: 20px;

}

.contact-heading {
  font-size: 18px;
  margin-bottom: 0.5em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1.8;
  position: relative;
  margin-left: 25px;
}

.heading
{
    margin-top: -450px;
}
